
name: Build and Publish Docker Image

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        # Replace 'karel/amazon-deals' with your actual Docker Hub repository
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/amazondeals:latest
        platforms: linux/amd64,linux/arm64
        cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/amazondeals:buildcache
        cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/amazondeals:buildcache,mode=max
